.App {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.yes-background {
  height: 100vh; /* Make the div take the full height of the viewport */
  background-image: url("./cute-image.jpg"); /* Adjust path as needed */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the background image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  font-size: 24px; /* Adjust size as needed */
  color: rgb(212, 44, 120); /* Adjust text color as needed */
  background-color: rgba(
    220,
    205,
    218,
    0.5
  ); /* Optional: Adds a semi-transparent overlay for better readability */
  padding: 20px;
  border-radius: 10px; /* Optional: Adds rounded corners to the text background */
}
